<meta name="description" content="Extended Theme">
<meta name="keywords" content="theme,extended">
{% include google-analytics.html %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ /assets/icon/apple-touch-icon.png?nvp=1.0 | relative-url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ /assets/icon/favicon-32x32.png?nvp=1.0 | relative-url }}">
<link rel="icon" type="image/png" sizes="194x194" href="{{ /assets/icon/favicon-194x194.png?nvp=1.0 | relative-url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ /assets/icon/android-chrome-192x192.png?nvp=1.0 | relative-url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ /assets/icon/favicon-16x16.png?nvp=1.0 | relative-url }}">
<link rel="manifest" href="{{ /assets/icon/site.webmanifest?nvp=1.0 | relative-url }}">
<link rel="mask-icon" href="{{ /assets/icon/safari-pinned-tab.svg?nvp=1.0 | relative-url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ /assets/icon/favicon.ico?nvp=1.0 | relative-url }}">
<meta name="apple-mobile-web-app-title" content="ExTheme">
<meta name="application-name" content="ExTheme">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-TileImage" content="{{ /assets/icon/mstile-144x144.png?nvp=1.0 | relative-url }}">
<meta name="msapplication-config" content="{{ /assets/icon/browserconfig.xml?nvp=1.0 | relative-url }}">
<meta name="theme-color" content="#ffffff">
<!-- <meta name="google-site-verification" content="K2q24KsKh3H4kss94jBWXVVeeU5GVQrrtuecrMFRhnU" /> -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>